.header{
width: 1920px;
height: auto;
}

.navbar{
  height: 120px;
  background-color: rgb(36, 36, 36);
  position: relative;
}

.navbar__search{
  width: 500px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  left: 300px;
  top: 30px;
  
  /* color: gray; */
}

.navbar__logo{
  position: relative;
  top: 40px;
  left: 200px;
}

.buttons{
  color: white;
  position: absolute;

}



