@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Anybody:ital,wght@0,100..900;1,100..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chathura:wght@100;300;400;700;800&family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(39, 39, 49);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    /* background-color: white; */
    /* color: black; */
  }
  
  img,
  svg {
    display: block;
    width: 100%;
    height: auto;
  }
  
  ol,
  ul {
    list-style-type: none;
  }
  
  a,
  span,
  label,
  input,
  button,
  b,
  i,
  textarea {
    display: inline-block;
    font-family: inherit;
    font-weight: inherit;
  }
  
  a,
  label,
  input,
  button,
  textarea {
    cursor: pointer;
  }

  a:hover{
    text-decoration: underline;
  }

  a:visited{
    color: white;
    text-decoration: none;
  }

  h1{
    width: 100%;
    font-size: 50px;
    margin: 50px;
    text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
    font-family: "Nanum Myeongjo", serif;
  }
  



