@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Anybody:ital,wght@0,100..900;1,100..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chathura:wght@100;300;400;700;800&family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(20, 20, 26);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

ol,
ul {
  list-style-type: none;
}

a, span, label, input, button, b, i, textarea{
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
}

a, label, input, button, textarea {
  cursor: pointer;
}

.wrapper{
  width: 1920px;
  margin: 50px auto;
}

.navbar{
  width: 1500;
  height: 120px;
  /* background-color: blue; */
  margin: 50px 150px;
  position: relative;
  font-size: 20px;
}

.logo{
  width: 150px;
  position: absolute;
  top: 50px;
}

.searchbar{
  width: 500px;
  background: local;
  height: 50px;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 250px;
}

.options{
  position: absolute;
  top: 50px;
  left: 850px;
  
}

#select{
  background: local;
}

.mentor{
text-decoration: none;
color: white;
position: absolute;
top: 50px;
left: 1050px;
}

.buttons button{
  width: 120px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background: local;
  position: absolute;
  top: 25px;
  left: 1300px;
  
}

.singup{
  background-color: brown;
  margin-left: 150px;
}
