

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Anybody:ital,wght@0,100..900;1,100..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chathura:wght@100;300;400;700;800&family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Ojuju:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');




.navbar {
  width: 1650px;
  height: 120px;
  margin: 0px 130px;
  position: fixed;
  font-size: 25px;
  font-weight: 400;
  display: inline;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 3px solid white;

}

.logo {
  width: 300px;
  size: 100px;
  position: absolute;
  top: -90px;
  left: -40px;


}

.searchbar {
  width: 500px;
  background: local;
  border: 2px solid white;
  height: 50px;
  color: white;
  font-size: 22px;
  font-weight: 300;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  left: 230px;
}

.options {
  position: absolute;
  top: 50px;
  left: 800px;

}

#select {
  background: local;
}

.mentor {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50px;
  left: 1000px;

}






/* BUTTONS START  */






.buttons button {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background: local;
  border: 2px solid greenyellow;
  position: absolute;
  top: 30px;
  left: 1350px;
  display: block;

}

.buttons button:hover {
  background-color: rgb(73, 61, 77);
}

button.singup {
  background: local;
  border: 2px solid rgb(250, 70, 190);
  color: white;
  margin-left: 150px;
}

#logout-btn {
  border: 2px solid red;
  background: local;
  color: white;
  margin-left: 150px;
  display: none;
}

#logout-btn:hover {
  background-color: rgb(73, 61, 77);

}

#profile-btn {
  display: none;
  border: 2px solid greenyellow;
  padding-left: 20px;
}

#profile-btn img {
  width: 50px;

}

.info {
  width: 1000px;
  height: 750px;

}

.info__title {
  font-size: 80px;
  width: 600px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  position: absolute;
  top: 80px;
  left: 100px;
}

.info__subtitle {
  font-size: 30px;
  width: 640px;
  font-weight: normal;
  position: absolute;
  top: 400px;
  left: 100px;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.feature img {
  width: 50px;
}

.feature p {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 500;
}

.info ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
  position: absolute;
  top: 600px;
  left: 100px;
}

.carosel {
  width: 500px;
  height: 500px;
  margin: 125px 150px;
  border-radius: 15px;

}

.banner {
  display: flex;
  flex-direction: row;
  margin: 20px 40px;
  border-radius: 10px;
  background: url(./img/header.avif);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  width: 1800px;
  height: 750px;
  position: relative;
  top: 180px;
}

.footer-wrapper {
  background-color: rgb(44, 33, 51);
  color: white;
  width: 1800px;
  height: 400px;
  margin: 200px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-size: 20px;
}

.footer-info {
  width: 500px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 130px 30px;

}

.footer-info a {
  text-decoration: none;
  color: white;
  padding-top: 30px;

}

.footer-articles {
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 80px;

}

.footer-articles li {
  padding-top: 15px;
}

.footer-articles ul h3 {
  text-decoration: underline;
}