@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Anybody:ital,wght@0,100..900;1,100..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chathura:wght@100;300;400;700;800&family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Ojuju:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');

.navbar {
  width: 1650px;
  height: 120px;
  margin: 0px 130px;
  position: fixed;
  font-size: 25px;
  font-weight: 400;
  display: inline;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 3px solid white;

}

.title{
  text-align: left;
    font-size: 50px;
    text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
    font-family: "Nanum Myeongjo", serif;
}

.logo {
  
  width: 300px;
  size: 100px;
  position: absolute;
  top: -90px;
  left: -40px;


}

.searchbar {
  width: 500px;
  background: local;
  border: 2px solid white;
  height: 50px;
  color: white;
  font-size: 22px;
  font-weight: 300;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  left: 230px;
}

.options {
  position: absolute;
  top: 50px;
  left: 800px;

}

#select {
  background: local;
}

.mentor {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50px;
  left: 1000px;

}






/* BUTTONS START  */






.buttons button {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background: local;
  border: 2px solid greenyellow;
  position: absolute;
  top: 30px;
  left: 1350px;
  display: block;

}

.buttons button:hover {
  background-color: rgb(73, 61, 77);
}

button.singup {
  background: local;
  border: 2px solid rgb(250, 70, 190);
  color: white;
  margin-left: 150px;
}

#logout-btn {
  border: 2px solid red;
  background: local;
  color: white;
  margin-left: 150px;
  display: none;
}

#logout-btn:hover {
  background-color: rgb(73, 61, 77);

}

#profile-btn {
  display: none;
  border: 2px solid greenyellow;
  padding-left: 20px;
}

#profile-btn img {
  width: 50px;

}

.info {
  width: 1000px;
  height: 750px;
  

  &__title {
    font-size: 80px;
    width: 600px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: bold;
    position: absolute;
    top: 80px;
    left: 100px;
    text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
  }

  &__subtitle {
    font-size: 30px;
    width: 640px;
    font-weight: normal;
    position: absolute;
    top: 400px;
    left: 100px;
  }

}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.feature img {
  width: 50px;
}

.feature p {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 500;
}

.info ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
  position: absolute;
  top: 600px;
  left: 100px;
}

.carosel {
  width: 500px;
  height: 500px;
  margin: 125px 150px;
  border-radius: 15px;

}

.banner {
  display: flex;
  flex-direction: row;
  margin: 0px 40px;
  border-radius: 10px;
  background: url(./img/header.avif);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  width: 1800px;
  height: 750px;
  position: relative;
  top: 180px;
}

.footer-wrapper {
  background-color: rgb(44, 33, 51);
  color: white;
  width: max;
  height: 400px;
  margin: 200px 0px 10px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-size: 20px;
}

.footer-info {
  width: 500px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 130px 30px;

}

.footer-info a {
  text-decoration: none;
  color: white;
  padding-top: 30px;

}

.footer-articles {
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 80px;

}

.footer-articles li {
  padding-top: 15px;
}

.footer-articles ul h3 {
  text-decoration: underline;
}

.cards {
  position: relative;
  width: 1500px;
  margin: 250px 200px 0;

}

.cards h1 {
  font-family: "Nanum Myeongjo", serif;
  margin: 80px;
  text-align: center;
  font-size: 50px;
  text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
}

.card {

  &__buttons {
    width: 1500px;
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
  }

  &__button {
    width: 200px;
  }
}

.categories {
  width: 1500px;
  margin: 100px 160px;
  text-align: center;
  font-family: "Nanum Myeongjo", serif;

  &__cards {
    width: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    margin: 0 0px;
    align-items: center;

  }


  &__card {
    width: 300px;
    height: 400px;
    margin: 20px 0;

    :hover {
      filter: brightness(70%);
    }

  }

  &__img {
    width: max;
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
  }

  &__text {
    font-size: 40px;
    font-weight: 500;
    color: rgb(255, 255, 255);

  }

  // h1 {
  //   font-size: 50px;
  //   font-family: "Nanum Myeongjo", serif;
  //   margin: 40px;
  //   text-align: center;
  //   font-size: 50px;
  //   text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
  // }

}

.counter {
  color: black;
  width: 1800px;
  margin: 150px 0 0;
  display: flex;
  justify-content: center;


  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  &__item {
    align-items: center;
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  &__img {

    width: 60px;
  }

  &__number {
    font-size: 30px;
  }

  &__text {
    font-size: 15px;
  }

  p {
    font-weight: 500;
  }

}

.table {
  width: 1400px;
  margin: 50px 150px;
  display: flex;
  flex-direction: row;
  gap: 50px;

  &__img {
    width: 500px;
  }

  &__title {
    font-size: 40px;
    padding-bottom: 20px;
    font-family: "Nanum Myeongjo", serif;
  }

  &__text {
    font-size: 25px;
    text-justify: newspaper;
  }

}

.blog {
  width: 1500px;
  height: auto;
  position: relative;
  left: 150px;
  margin: 30px 50px 50px;

  &__title {
    text-align: left;
    font-size: 50px;
    text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
    font-family: "Nanum Myeongjo", serif;
  }

  &__container {
    width: 1440px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    :hover{
      filter: brightness(70%);
    }

  }
}

.item{
  width: 400px;
  height: 500px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);

  &__img{
    width: 400px;
    margin: 0 0 20px;
    border-radius: 15px 15px 0 0 ;
  }

  h4,p{
    color: black;
    font-weight: 500;
    margin: 10px;
  }

  a{
    margin: 10px;
  }
}

.courses__title{
  width: 1000px;
  height: auto;
 position: relative;
 left: 200px;
 top: 200px;
 padding:  0 0 230px;

 h1{
  font-size: 70px;
 }

 p{
  width: 500px;
  text-justify: newspaper;
 }

}